# Web Framework & Requests
fastapi
uvicorn
httpx
pydantic
deepeval


# LangChain Ecosystem
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma
langchain-ollama
langgraph
langchain-docling[local]

# Document Loaders & Processing
pdfplumber
unstructured
pdf2image
pytesseract
pandas
openpyxl
python-docx
sentence-transformers